<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>To-dos</title>
    <link rel="stylesheet" href="styles/main.css" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="scripts/app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>To-do Management</h1>
      <div class="project-description">
        <h2>(Decoupled Vue.js front-end for Node.js/MongoDB REST API)</h2>
        <sub
          >For more details, see the Readme files in the
          <a href="https://github.com/bauerindustries/vue-frontend-for-todo-api"
            >Front-end</a
          >
          and
          <a href="https://github.com/bauerindustries/todos-rest-api">API</a>
          Github repostories.</sub
        >
      </div>
    </header>
    <main id="todos-app">
      <section id="todo-management">
        <form @submit="saveTodo">
          <label for="text">To-do text:</label>
          <input
            type="text"
            id="text"
            ref="theInput"
            v-model="enteredTodoText"
            :placeholder="[[ buttonPlaceholder ]]"
            required
          />
          <button>{{ buttonLegend }}</button>
        </form>
      </section>
      <section id="todos">
        <p v-if="todos.length === 0 && !isLoading">
          No to-dos added yet, please add some!
        </p>
        <p v-else-if="isLoading">
          <span class="blink"> Loading To-do list from database...</span><br />
        </p>
        <ul v-else id="todos-list">
          <li v-for="todo in todos">
            <p>{{ todo.text }}</p>
            <div>
              <button @click="startEditTodo(todo._id)">Edit</button>
              <button @click="deleteTodo(todo._id)">Delete</button>
            </div>
          </li>
        </ul>
      </section>
    </main>
  </body>
</html>
