* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  min-height: 100%;
}

body {
  margin: 0;
  height: 100%;
  background-color: rgb(19, 53, 21);
  color: #354230;
  text-align: center;
  background: linear-gradient(
    to bottom,
    rgb(200, 226, 123),
    rgb(137, 236, 177),
    rgb(41, 129, 45)
  );
  font-family: 'Esteban', serif;
  font-weight: normal;
}

h1 {
  font-size: 3rem;
  color: #354230;
}

header p {
  font-size: 1.5rem;
}

button {
  font: inherit;
  font-size: 1.2rem;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  background-color: rgba(183, 225, 188, 0.71);
  border: none;
}

button:hover,
button:active {
  background-color: rgba(144, 183, 149, 0.71);
}

label {
  font-weight: bold;
  font-size: 1.33rem;
  display: block;
  margin-bottom: 0.5rem;
  text-align: left;
}

input {
  font: inherit;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: #ffffffbf;
  border: none;
  width: 100%;
  outline: none;
}

input:focus {
  background-color: rgb(236, 253, 241);
}

#todo-management form {
  width: 95%;
  max-width: 30rem;
  margin: 2rem auto;
  padding: 2rem;
  border-radius: 1.5rem;
  background-color: rgba(0, 157, 15, 0.24);
}

.project-description {
  width: 95%;
  max-width: 50rem;
  margin: auto;
}

a,
.project-description h2 {
  color: rgb(72, 111, 81);
}

sub {
  font-size: 1rem;
  width: 95%;
}

#todos {
  margin: 2rem auto;
  width: 95%;
  max-width: 45rem;
}

#todos p {
  font-size: 1.5rem;
  line-height: 1.5rem;
}

.blink {
  animation: blinker 3s linear infinite;
  font-weight: bold;
  display: block;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

#todos-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

#todos-list li {
  margin: 1rem 0;
  padding: 1.5rem;
  background-color: rgba(229, 255, 216, 0.77);
  border-radius: 1.5rem;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#todos-list li div {
  display: flex;
}

#todos-list button {
  margin: 0 0.5rem;
  background-color: rgba(13, 104, 24, 0.1);
  border: none;
}

#todos-list button:hover,
#todos-list button:active {
  background-color: rgba(76, 108, 71, 0.39);
}

@media (min-width: 640px) {
  #todos-list li {
    flex-direction: row;
  }
}
